; https://editorconfig.org/

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = unset

# YAML
[{*.yaml,*.yml}]
indent_style = space
indent_size = 2

# JSON
[{*.json,*.jsonc,*.json5}]
indent_style = space
indent_size = 2

# JavaScript / TypeScript
[{*.js,*.jsx,*.mjs,*.cjs,*.ts,*.tsx,*.mts,*.cts}]
indent_style = space
indent_size = 2

# Astro / Vue / Svelte
[{*.astro,*.vue,*.svelte}]
indent_style = space
indent_size = 2

# HTML / CSS
[{*.html,*.htm,*.xhtml,*.css,*.scss,*.less,*.pcss,*.postcss}]
indent_style = space
indent_size = 2

# Markdown / MDX
[{*.md,*.markdown,*.mdx}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

# GraphQL
[{*.graphql,*.gql,*.graphqls}]
indent_style = space
indent_size = 2

# TOML
[*.toml]
indent_style = space
indent_size = 2

# HCL / Terraform / OpenTofu / Terragrunt
[{*.hcl,*.tf,*.tofu,*.tfvars}]
indent_style = space
indent_size = 2

# Python
[{*.py,*.pyi,*.pyw}]
indent_style = space
indent_size = 4

# Shell
[{*.sh,*.bash,*.ksh}]
indent_style = space
indent_size = 4

# Just
[*.just]
indent_style = space
indent_size = 4

[.justfile]
indent_style = space
indent_size = 4

[justfile]
indent_style = space
indent_size = 4

[Justfile]
indent_style = space
indent_size = 4

# Docker
[Dockerfile]
indent_style = space
indent_size = 4

[Containerfile]
indent_style = space
indent_size = 4

[*.Dockerfile]
indent_style = space
indent_size = 4

[*.Containerfile]
indent_style = space
indent_size = 4

# Make
[Makefile]
indent_style = tab
tab_width = 4

[*.mk]
indent_style = tab
tab_width = 4

# Go
[*.go]
indent_style = tab
tab_width = 4

[go.mod]
indent_style = tab
tab_width = 4

[go.sum]
indent_style = tab
tab_width = 4

# Rust
[*.rs]
indent_style = space
indent_size = 4

# Git
[.gitmodules]
indent_style = tab
tab_width = 4
